


.mainFxmlClass {
    /* Interfaz Adm */
    
    

    
    
    #panel {
        -fx-background-color: #FFB94F;
    }
    
    #panel_2 {
        -fx-background-color: #2E1B10;
    }
    
    /* Rectangle 6 */
    #btn_ventas {
        -fx-pref-width: 330px;
        -fx-pref-height: 50px;
        
        
        -fx-font-family: 'Karla-bold';
        -fx-font-style: normal;
        -fx-background-color: #FFA150;
        -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
        -fx-background-radius: 30px;
        
    }

    /* Rectangle 7 */
    #btn_meseras {
        -fx-pref-width: 330px;
        -fx-pref-height: 50px;
        /*-fx-translate-x: 382px;
        -fx-translate-y: 160px;*/
        
        -fx-font-family: 'Karla-bold';
        -fx-font-style: normal;
        -fx-background-color: #FFB94F;
        -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
        -fx-background-radius: 30px;
        -fx-class: "button-common";
    }


  
    
    
    
    
    
    /* el_criollo-removebg 2 */
    #el_criollo {
        -fx-background-image: url('el_criollo-removebg.png');
    }


    /* VENTAS, MESERAS, VENTAS HOY, ... (text styles) */
    /* Example for VENTAS */
    #ventas {
        -fx-font-family: 'Karla';
        -fx-font-weight: bold;
        -fx-font-size: 27px;
        -fx-text-fill: #000000;
    }


}


.boton {
    -fx-background-color: #FEB01D;
    -fx-background-radius: 10px;
    -fx-border-color: #FEB01D;
    -fx-border-width: 0.5px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
    -fx-alignment: center;
    -fx-spacing: 10px; /* Esto es similar al 'gap' en flexbox */
    -fx-pref-width: 201px;
    -fx-pref-height: 37px;
    -fx-font-family: 'Karla-bold';
    -fx-font-weigth: bold;
    -fx-font-size: 18px;
    -fx-text-fill: #341C12
    
}

.boton:hover {
    -fx-background-color: #C68711;
    -fx-border-color: #C68711;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 6, 0, 0, 6);
    -fx-text-fill: black;
    -fx-font-family: 'Karla';
    -fx-font-weigth: bold;
    -fx-cursor: hand;
    -fx-pref-width: 201px;
    -fx-pref-height: 37px;
    
}


.boton_redondo {
    
    -fx-background-color: #FEB01D;
    -fx-background-radius: 10px;
    -fx-border-color: #FEB01D;
    -fx-border-width: 0.5px;
    -fx-border-radius: 30px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
    
    -fx-spacing: 10px; /* Esto es similar al 'gap' en flexbox */
    -fx-pref-width: 330px;
    -fx-pref-height: 50px;
    -fx-font-family: 'Karla-bold';
    -fx-font-weigth: bold;
    -fx-font-size: 18px;
    -fx-text-fill: #341C12;
        -fx-background-color: #FFA150;
        -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0, 4);
        -fx-background-radius: 30px;
    
}


.boton_redondo:hover {
    -fx-background-color: #C68711;
    -fx-border-color: #C68711;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 6, 0, 0, 6);
    -fx-text-fill: black;
    -fx-font-family: 'Karla';
    -fx-font-weigth: bold;
    -fx-cursor: hand;
    -fx-pref-width: 330px;
    -fx-pref-height: 50px;
    
}